<section class="bg-primary" id="about" style="background-color: #272645;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">문의하기</h2>
                <hr class="light">
                <p class="text-faded">어떻게 예산을 편성하고 어떤 채널을 통해 마케팅을 진행하면 효과적 일지 고민이신가요? 온라인 광고를 어디서부터 어떻게 진행해야 할지 모르신다면, 언제든지 문의를 남겨주세요!</p>
                <a href="#" class="btn btn-default btn-xl">문의하기</a>
            </div>
        </div>
    </div>
</section>
