<section class="bg-primary" id="about" style="background-color: #272645;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">진단하기</h2>
                <hr class="light">
                <p class="text-faded">마케팅 예산을 어떻게 편성하고,어떤 채널을 통해 마케팅을 진행하면 효과적 일지 고민이신가요?<br>방향을 잃었거나진단이 필요하다고 생각 될 경우
                    <br>온라인 광고를 어디서부터 어떻게 진행해야 할지 모르신다면, 언제든지 문의를 남겨주세요!</p>
                <a href="#contact" class="btn btn-default btn-xl">문의하기</a>
            </div>
        </div>
    </div>
</section>
