<head>
    <!-- Google Tag Manager -->
   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','GTM-5MQWCZKW');</script>
   <!-- End Google Tag Manager -->
    
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="필립은 마케팅을 바로세우는 온라인 종합 광고대행사입니다. 바이럴 광고, 광고운영대행, 디자인, 광고진단, 마케팅 교육까지 제공합니다.">
   <meta name="author" content="필립">
   <meta name="keywords" content="온라인 광고대행, 바이럴 마케팅, 디지털 마케팅, 광고 대행사, 마케팅 교육, 광고 운영 대행">
   <meta name="language" content="Korean">
   <meta name="geo.region" content="KR">
   <meta name="robots" content="index, follow">
   <meta name="googlebot" content="index, follow">

   <title>필립 - 마케팅을 바로세우는 온라인 종합 광고대행사</title>

   <!-- Canonical URL -->
   <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">

   <!-- Open Graph (소셜 미디어 공유용) -->
   <meta property="og:type" content="website">
   <meta property="og:title" content="필립 - 마케팅을 바로세우는 온라인 종합 광고대행사">
   <meta property="og:description" content="필립은 마케팅을 바로세우는 온라인 종합 광고대행사입니다. 바이럴 광고, 광고운영대행, 디자인, 광고진단, 마케팅 교육까지 제공합니다.">
   <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}">
   <meta property="og:site_name" content="필립">
   <meta property="og:image" content="{{ site.url }}/img/logo.png">
   <meta property="og:locale" content="ko_KR">

   <!-- Twitter Card -->
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="필립 - 마케팅을 바로세우는 온라인 종합 광고대행사">
   <meta name="twitter:description" content="필립은 마케팅을 바로세우는 온라인 종합 광고대행사입니다. 바이럴 광고, 광고운영대행, 디자인, 광고진단, 마케팅 교육까지 제공합니다.">
   <meta name="twitter:image" content="{{ site.url }}/img/logo.png">

   <!-- Bootstrap Core CSS -->
   <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | relative_url }}" type="text/css">

   <!-- Custom Fonts -->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="{{ "/font-awesome/css/font-awesome.min.css" | relative_url }}" type="text/css">

   <!-- Plugin CSS -->
   <link rel="stylesheet" href="{{ "/css/animate.min.css" | relative_url }}" type="text/css">

   <!-- Custom CSS -->
   <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}" type="text/css">

   <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->
<!-- Favicon Tag -->
<link rel="apple-touch-icon" sizes="57x57" href="{{ "/img/icon/apple-icon-57x57.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ "/img/icon/apple-icon-60x60.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ "/img/icon/apple-icon-72x72.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ "/img/icon/apple-icon-76x76.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ "/img/icon/apple-icon-114x114.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ "/img/icon/apple-icon-120x120.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ "/img/icon/apple-icon-144x144.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ "/img/icon/apple-icon-152x152.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/img/icon/apple-icon-180x180.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ "/img/icon/android-icon-192x192.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/img/icon/favicon-32x32.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ "/img/icon/favicon-96x96.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/img/icon/favicon-16x16.png" | relative_url }}">
<link rel="manifest" href="{{ "/img/icon/manifest.json" | relative_url }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ "/img/icon/ms-icon-144x144.png" | relative_url }}">
<meta name="theme-color" content="#ffffff">
<!-- End Favicon Tag -->
<meta name="naver-site-verification" content="c159ebf20b1be22fa9afd1a4499150041dcc5d0c" />
</head>