<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="main-title">
             감이 아니라 데이터로
             <br>광고를 세웁니다.
            </h1>
            <hr>
            <p>"어디서부터 시작해야 할까?"<br>
                <br>
                마케팅은 감(感)이 아니라 방향이 중요합니다.<br>
                <br>
                무작정 광고하지 마세요.<br> 
                <br>안녕하세요. "필립"입니다.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">업무영역</a>
        </div>
    </div>
</header>
