<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="main-title">
             감이 아니라 데이터로 광고를 세웁니다.
            </h1>
            <hr>
            <p>마케팅을 처음 시작하려는 순간, 가장 먼저 드는 고민이 있죠.<br>
                <br>
                "어디서부터 시작해야 할까?"<br>
                <br>
                무엇을 어떻게 해야 효과적인지 감이 잡히지 않고,<br>
                여기저기서 들려오는 마케팅 전략들은 너무 뜬구름 같기만 합니다.<br>
                <br>                
                하지만 마케팅은 감(感)이 아니라 방향이 중요합니다.<br>
                무작정 광고하지 마세요. 
                <br>"필립"이 효과적인 방향을 잡아드립니다.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">업무영역</a>
        </div>
    </div>
</header>
