<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#page-top">
                <img src="img/logo.png" alt="필립 로고" id="nav-logo" class="logo">
                <span id="nav-text" class="hidden">필립</span>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="page-scroll" href="#about">회사소개</a></li>
                <li><a class="page-scroll" href="#services">업무영역</a></li>
                <li><a class="page-scroll" href="#portfolio">레퍼런스</a></li>
                <li><a class="page-scroll" href="#contact">문의하기</a></li>
            </ul>
        </div>
    </div>
</nav>