<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">업무영역</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bullseye wow bounceIn text-primary"></i>
                    <h3>공식 광고</h3>
                    <p class="text-muted">국/내외 온라인 매체<br>공식 광고 대행운영</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bullhorn wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>바이럴 광고</h3>
                    <p class="text-muted">블로그/카페/언론보도 등<br>최적의 매체에 바이럴 광고 대행운영</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bar-chart-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>데이터 분석</h3>
                    <p class="text-muted">CRM 운영/마케팅 운영<br>상황 진단 및 데이터 활용 컨설팅</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pencil-square-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>마케팅 교육</h3>
                    <p class="text-muted">마케팅의 전반적인 운영교육<br>광고 TOOL/매체에 관한 직무교육</p>
                </div>
            </div>
        </div>
    </div>
</section>
