<!DOCTYPE html>
<html lang=ko">

{% include head.html %}

<body id="page-top">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MQWCZKW"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- 전화문의 버튼 -->
<a href="tel:0507-1383-2365" class="floating-call">
  <img src="img/logo.png" alt="전화문의" id="callButtonImage">
</a>

  {% include nav.html %}
  {% include header.html %}
  {% include call-to-action.html %}
  {% include services.html %}
  {% include portfolio.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include scripts.html %}
  <footer class="footer">
    <div class="container text-center">
        <h3 class="footer-title">필립</h3>
        <p>대표자 : 노 동규</p>
        <p>사업자 등록번호 : 839-07-01288</p>
        <p>대표 번호 : <a href="tel:050713832365">0507-1383-2365</a></p>
        <p>2025© 필립(philip) All rights reserved</p>
    </div>
</footer>
</body>

</html>